# Created by .ignore support plugin (hsz.mobi)
### Yii template
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
### OpenCart template
.htaccess
/config.php
admin/config.php
bd-distr
image


!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/
image/catalog/beer/
image/catalog/drozhi/
image/catalog/food/
image/catalog/sam/
image/catalog/vino/

system/storage/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache
### WordPress template
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
